<div class="card bg-light" *ngIf="listaCitas.length <1">
    <div class="card-body">
        <h5 class="card-title text-center" >no hay citas aun</h5>
    </div>
</div>

<div *ngFor="let cita of listaCitas; let i = index" class="card bg-light mb-2 ">
    <div  class="card-body">
        <p class="card-text"><span>Nombre: </span> {{cita.nombre}}</p>
        <p class="card-text"><span>Fecha: </span>  {{cita.fecha}}</p>
        <p class="card-text"> <span>Hora: </span> {{cita.hora}}</p>
        <p class="card-text"><span>Sintomas: </span> {{cita.sintomas}}</p>
        <div class="btn btn-danger float-end" (click) = "eliminarCita(i)">Eliminar cita</div>
    </div>
</div>
